@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>we WILL steal all your data :3. feed us dataaaaaaaaaa nom nom munch nom :3</p>
<p> We MOST definitely WILL steal your cats and dogs. So, be prepared to give us your DATA for the safety of your pets, hehe.</p>